.cost-price{
    font-weight: bold;
    font-size: 17px;
}

.costprice-a{
    width: 223px;
    height: 23px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 7px;
}
.p-l{
    width: 140px;
    height: 32px;
    background: rgb(238, 185, 194);
    border-radius: 4px;
    margin-top: 12px;
}