.value-1{
    
padding: 4px;
    border: 1px solid black;
    width: 249px;
    margin-top: 8px;
    margin-bottom: 12px;
}
.Add-a{
    margin-top: 7px;
    width: 79px;
    background: rgb(231, 208, 212);
    height: 30px;
}